footer {
  margin-top: 90px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(150%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.dropdown-menu {
  border-radius: 15px;
  color: white;
  margin-top: 100px;
}

.dropdown-item {
  color: #67757a;
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: #2857c3;
  color: white;
  padding-left: 10px;
}

.nav-link {
  font-weight: bold;
  color: #67757a;
}

.active {
  color: #286bbd;
}

.active:hover {
  color: #13565d;
}